
@media print {
    .sidebar, .pagination, .related {
      display: none !important;
    }
    html {
      font-size: 16px;
    }
    .content {
      margin: 0px;
      padding: 24px;
      max-width: 100%;
    }
  }
  
  .sidebar-img {
    height: 100px;
  }

  .sidebar h1 {
    font-size: 24px;
  }

.content  img {
  margin: 0 auto;
  border: 1px solid gray;
  padding: 10px;
  width: 90%;
}