<div class="sidebar">
  <div class="container sidebar-sticky">

    <div class="sidebar-about">
        <a href="{{ site.baseurl }}">
          <h2>
            {{ site.title }}
          </h2>
        </a>
      <p class="lead">
        [PhD. student] 
        @University of Montpellier. 
        [Team member] 
        @INRIA GraphIK.
      </p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a>

      <a class="sidebar-nav-item{% if page.url != site.baseurl %} active{% endif %}" href="/blog">Blog</a>
      
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub website</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
