@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .dark {
        @apply bg-gray-900;
    }

    .default-text-gradient {
        background: -webkit-linear-gradient(0turn, var(--sky-500), var(--emerald-500));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}